#app-header{
    border-bottom: 1px solid #E5E5E5;
}

.header-container{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 92px;
    margin: 0 auto;
}

.navi-item{
    color: var(--def-white);
    text-decoration: none;
    font-size: 20px;
    margin-left: 28px;
}

.navi-item:nth-last-child(3){
    margin-left: 60px;
}

.navi-item:nth-last-child(1){
    margin-right: 76px;
}

.head-searchbar > input{
    width: 579px;
    height: 56px;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px 0 60px;
    box-shadow: 0px 2px 5px 1px #00000029;
    background-image: url(../assets/search.svg);
    background-size: 20px;
    background-position: 16px;
    background-repeat: no-repeat;
}

.head-cart{
    cursor: pointer;
    position: relative;
    margin: 0 43px;
}

.cart-qty{
    position: absolute;
    top: 0;
    right: -8px;
    width: 21px;
    height: 21px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--hl-blue);
    font-weight: 800;
    font-size: 16px;
    color: #fff;
}

