@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

head, body{
    margin: 0;
    overflow-x: hidden !important;
}

p, a, span, label, strong, div, input, h1, h2{
    font-family: 'Raleway', sans-serif;
}

input{
    border: none;
    outline: none;
}

input::placeholder{
    color: var(--def-white);
}

.hl{
    color: var(--hl-blue) !important;
    font-weight: 800;
    text-transform: uppercase;
}

#main-container{
    width: 1200px;
    margin: 0 auto; 
}

/*Variables*/

:root {
    --hl-blue: #4EC2DD;
    --def-white: #c8c8c8;
}