.sugg-container{
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.sugg-item{
    position: relative;
    width: min-content;
    height: 400px;
    background-color: #F8F8F8;
    padding: 10px 10px 90px 10px;
    cursor: pointer;
}

.sugg-item:nth-last-child(2){
    margin: 0 10px;
}

.sg-item-img > img{
    width: 250px;
    height: 250px;
}

.sg-item-title{
    color: var(--def-white);
    font-size: 16px;
    margin: 18px 0px;
}

.sg-price-highlight{
    text-transform: inherit !important;
}

.sg-item-price{
    position: absolute;
    bottom: 100px;
}

.sg-item-price > p{
    font-size: 14px;
    color: var(--def-white);
    margin: 6px 0;
}

.sg-item-price > strong{
    font-size: 24px;
}